extends layout

block content
  h1 Welcome to SetOfCountries
  p Here you can find some geografical data and information about different countries. 
  p For example, you can find boardes of counrty, it's currency, languages, capital and a lot of more. 