extends layout

block content
    h1 There are countries in which people speak #{language}
    each country, ind in countries
        p #{ind+1} 
            a(href='../countries/'+country.name) #{country.name} 